<!DOCTYPE html>
<html>
<head>
	<title>Gurke</title>
	<style>
		body{background-color:#f3f6f4;}
	</style>
</head>
<body>   
<center><big><big><big><font face="Verdana Pro Black">
<h1>Tomate</h1></big></big></big></font><br>
<i>Solanum lycopersicum</i>

<big><big>
<p><big><big><font face="Gadugi">
Die<a href="https://de.wikipedia.org/wiki/Tomate"><font color = green> Tomate</font> </a> benötigt einen sehr sonnigen<font color=orange> ☀ </font> und witterungsgeschützen 🌩 Standort<br>
und sollten in eine nährstoffreiche Erde 🌱  gepflanzt werden<br>
und regelmäßig(❗) gegossen werden.Es sollte eine Rankhilfe<br>
benutzt werden um die Pflanze zu stabilisieren
</body></big><font>
</big></p>

<br>

<table>

	<table border="0"; style="width:46%">
		<tr>
			<th> <b>gute Nachbarn</th>
			<th> schlechte Nachbarn</b></th>
		</tr>
		<tr>
			<td>
			{% for i in good_plants %}
				                       {{i}}
				<br>
			{% endfor %}
			</td>
			<td>
			{% for i in bad_plants %}
				{{i}}
				<br>
			{% endfor %}
			</td>
		</tr>
	</table>
</table>

<a href="{{url_for('index')}}" id="link">NEW PHOTO</a>
</big></big>

<style>
#link {
width: 400px;
background-color: black;
color: white;
font-size: 16px;
border-radius: 30px;
border: none;
padding: 15px 20px;
text-align: center;
}

</style>
</big></big>
</html>
</center>
